---
layout: page
permalink: /
---

<div class="homecontainer">
  <img class="homeimage" src="\images\IMG_1617.jpeg" alt="Image">
  <div class="hometextbox">
    <p>"It was a game, a very interesting game one could play. Whenever one solved one of the little problems,
      one could write a paper about it. It was very easy for any second-rate physicist to do first-rate work. 
      There has not been such a glorious time since. It is very difficult now for a first-rate physicist to do second-rate work."</p>
    <h2>-Paul Dirac</h2>
  </div>
</div>

<div class="homecontainer">
<div class="hometextbox" style="background-color: #fff";>
  <h1>Graduate Research</h1>
  <p>My work has focused on nitrophenols, a set of molecules which exhibit a natural yellow color. This yellow is in part what constitutes the brown smoke one observes in a wildfire. These nitrophenols are produced in a fire, they begin to break down due to various chemical reactions. The type of reactions I have focused on involve sunlight coming in and potentially bleaching these molecules, the same sort of fade that happens when something is left outside in the sun for too long.</p>
  <a href="https://daltonian.co/publications">
    <button class="button-37" role="button">View my Publications</button>
  </a>  
</div>
<img class="homeimage" src="\images\molecule.jpg" alt="Image">
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
