<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>University of California, Irvine</li>
    <li>Department of Chemistry</li>
    <li>Irvine, CA</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Rowland Hall</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 321 890 20(2*9-11)9</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:username@domain.com">abdalton@uci.edu</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://daltonian.co">daltonian.co</a></li>
  </ul>
</div>
